[general]
schedule_callback = true
wake_time = "7:00"
sleep_time = "11:59"
wake_callback = "wifi up"
sleep_callback = "wifi down"

[encryption]
aes_key = []
aes_iv = []
win_ver = ""
client_version = ""
client_key = ""

[[auth]]
user = "leo"
password = "111"
device = "enp1s0"

[[auth]]
user = "leo"
password = "111"
device = "wlp2s0"
